<div class="container">
    <div class="detailed-view">
        <div class="row">
            <div class="visible-xs-block col-xs-12">
                <button type="button" class="btn btn-success btn-wide">ADD to <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9">
                <div class="image-container">
                    <img title="Wallpaper" class="image-responsive center-block selected-image" src="<%= source_file.url %>" alt="image">
                    <div class="button-bar center-block">
                        <button type="button" class="btn-round" data-toggle="modal" data-target="#modal-fullsize-img" data-tooltip="tooltip" data-placement="top" title="Full size"><span class="glyphicon glyphicon-resize-full"></span></button>
                        <button type="button" class="btn-round" data-tooltip="tooltip" data-placement="top" title="Watch it on the wall"><span class="glyphicon glyphicon-picture"></span></button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 details">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-description" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span>Description</span>
                        </button>
                    </div>
                    <div id="navbar-description" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="row">
                                <div class="col-xs-12">Title:</div>
                                <div class="col-xs-12"><%= name %>.</div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12">About painting:</div>
                                <div class="col-xs-12"><%= description %>.</div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12">Artist:</div>
                                <div class="col-xs-12" id="art-item-author">Ivan Ivanov.</div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12">Price:</div>
                                <div class="col-xs-12">$<%= price %>.</div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12">Size:</div>
                                <div class="col-xs-12"><%= horizontal_size %> x <%= vertical_size %>.</div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12">Style:</div>
                                <div class="col-xs-12" id="art-item-style">      .</div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12" >Medium:</div>
                                <div class="col-xs-12" id="art-item-media">      .</div>
                            </li>
                            <li class="row">
                                <div class="col-xs-12">Subject:</div>
                                <div class="col-xs-12"id="art-item-subject">      .</div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="col-xs-12 col-without-padding">
                    <button type="button" class="btn btn-success btn-wide">ADD to <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.detailed-view -->
</div>