<td class="item-image">
 <a href="#artItems/<%= id %>" ><img class="img-responsive home_item thumbnail" alt="" src='<%= source_file %>'></a>
</td>
<td>
  <%= author_first_name + ' ' + author_second_name %>
</td>
<td>
  <%= name %>
</td>
<td>
  <%= updated_at %>
</td>
<td class="item-price">
  <p> $<%= price %></p>
</td>
<td>
  <a href="/#cart"><button class="unlock btn btn-info btn-sm">Unlock</button></a>
</td>

