<h1>hello from author <%= @author.first_name %> <%= @author.second_name %></h1>
<p>City: <%= @author.city %></p>
<p>Phone: <%= @author.phone_number %></p>
<p>Email: <%= @author.email_address %></p>
<p>Info about me:</p><p><%= @author.info_about %></p>
<p>Photo</p>
<%= image_tag(@author.photo) %>