<p>Hello from author <b> <%= @author.first_name %> <%= @author.second_name %></b></p>
<p><b>City:</b> <%= @author.city.name %></p>
<p><b>Phone:</b> <%= @author.phone_number %></p>
<p><b>Email:</b> <%= @author.email_address %></p>
<p><b>Info about me:</b></p><p><%= @author.info_about %></p>
<p><b>Photo</b></p>
<%= image_tag(@author.photo) %>