<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 work_outer">
  <div class="work_inner">
    <a title="About painting">
      <p>from art item</p>
    <img class="lazy" alt="" src='<%= source_file.url %>' width="200" height="300"></a>
    <br>

    <p><strong><%= name %></strong> - <%= horizontal_size %> x <%= vertical_size %></p>
    <br>
    <a><strong><%= author_id %></strong></a>
    <br>
    <p> <%= price %> </p>
  </div>
</div>