<div class="work_inner">
  <a title="About painting">
    <p></p>
      <a href="#artItems/<%= id %>"><img class="img-responsive home_item" alt="" src='<%= source_file.url %>'></a>
  <br>

  <p><strong><%= name %></strong> - <%= horizontal_size %> x <%= vertical_size %></p>
  <br>
  <a><strong><%= author_id %></strong></a>
  <br>
  <p> <%= price %> </p>
  <button id="add-to-cart">Add to shopping cart</button>
  <button id="delete">Delete</button>
</div>