<p>Artist name: <b><%= first_name %></b></p>
<p>Artist surname: <b><%= second_name %></b></p>
<p>Info about artist: <b><%= info_about %></b></p>
<p>E-mail: <b><%= email_address %></b></p>
<p>Phone number: <b><%= phone_number %></b></p>
<p>City: <b><%= city_name %></b></p>
<p>Photo:</p>
<img src="<%= photo %>" alt="artist image" width="300px" height="300" />
<p><a href="#/authors">Back</a></p>
